*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containner{
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}
h1{
  background-color: rgb(0, 69, 83);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
form{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.maincontainer{
  margin-top: 10px;
}
input{
  width: 80%;
  text-align: center;
  height: 40px;
  font-size: 17px;
}
.maincontainer button{
  width: 20%;
  font-size: 30px;
  background-color: rgb(0, 107, 128);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  transition: 0.5s ease-in-out;
}
.maincontainer button:hover{
  transform: translatey(5px);
  background-color: rgb(0, 69, 83) ;
}
h3{
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: rgb(0, 69, 83);
  justify-content: center;
}
.tdcontiner{
  width: 80%;
  margin: auto;
}

.taskcontainer{
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1.5px solid rgb(0, 107, 128)  ;
  min-height: 10vh;
  margin-top: 10px;
  width: 100%;
  gap: 10px;
  padding: 0 30px;
  border-radius: 5px;
  font-size: 20px;
}
li{
  list-style: none;
  width: 100%;
}
.first{
  font-weight: bolder;
}

.taskcontainer button{
  width: 20%;
  font-size: 22px;
  background-color: rgb(128, 0, 0);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  transition: 0.5s ease-in-out;
}
.taskcontainer button:hover{
  transform: translateX(3px);
  background-color: rgb(0, 69, 83) ;
}
@media screen and (max-width: 700px) {
  h1{
    font-size: 20px;
  }
  input{
    height: 30px;
    font-size: 15px;
  }
  .taskcontainer{
    font-size: 13px;
    padding: 10px 10px;
    flex-direction: column;
    align-items: normal;
  }
  .maincontainer button{
    font-size: 15px;
    border-radius: 2.5px;
    height: 25px;
    width: 40%;
  }
  .taskcontainer button{
    font-size: 12px;
    height: 20px;
    width: 30%;
  }
}